@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-w: 12.5rem; /* 200px */
    --header-h: 65px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
